*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    height: 50px;
    align-items: center;
    list-style: none;
    padding: 0 40px;
}
nav{
    position: sticky;
    top: 100px;
    left: 0;
    width: 100%;
}
.first{
    padding-top: 50px;
}
.scroll-up{
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-color: blue;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 70px;

}